.list {
  margin: 10px 10px 10px 10px;
}

input {
  width: 100%;
}

.error {
  font-weight: lighter;
  font-style: italic;
  color: rgba(255, 55, 16, 0.95);
  margin: 10px 10px 10px 10px;
}

.list-group-item {
  border: 0px;
}
