.completed {
  text-decoration: line-through;
}

.title {
  font-weight: bolder;
}

.content {
  color: #e0e0e0;
}

.complete {
  font-size: 0.1em;

}

.date {
  font-weight: lighter;
  font-style: italic;
  font-size: smaller;
}
